#carouselExampleIndicators{
    margin-bottom: 100px;
}
header{
    position: sticky;
    top: 0;
    z-index: 3;
}
.container{
    margin-bottom: 100px;
}
.btn-outline-success {
    margin-right: 20px;
}
.col{
    margin-left: 60px;
}
#contact{
    float: right;
}
#hover{
    text-decoration: none;
    color: white;
}