#carouselExampleIndicators{
    margin-bottom: 100px;
}
header{
    position: sticky;
    top: 0;
    z-index: 3;
}
.container{
    margin-bottom: 100px;
}
.btn-outline-success {
    margin-right: 20px;
}
.col{
    margin-left: 60px;
}
 .to-top{
     float: right;
     color:white;
     padding-top:1.8em;
     display:inline-block;/* or block */
     border-color:white;
     text-decoration:none;
     transition:all .3s ease-out;
     position: sticky;
     bottom: 40px;
     right: 10px;
     color: black;
 }
.to-top:before{
    content:'▲';
    font-size:.9em;
    position:absolute;
    top:0;
    left:50%;
    margin-left:-.7em;
    border:solid .13em white;
    border-radius:10em;
    width:1.4em;
    height:1.4em;
    line-height:1.3em;
    border-color:inherit;
    transition:transform .5s ease-in;
}
.to-top:hover{
    color:black;
    border-color:black;
}
.to-top:hover:before {
    transform: rotate(360deg);
}
.card{
    border: 1px solid #CCC;
}
.card img{
    width: 100%;
    transition: all 0.3s;
}
.card:hover img{
    transform: scale(1.05);
}
.dropdown:hover .dropdown-menu{
    display: block;
}
@keyframes In {
    from{top: 50px} to {top: 100%}
}
.dropdown-menu{
    animation: In 500ms;
    position: relative;
}
.form{
    width: 940px;
    height: 500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    border-bottom: 1px solid black;
}
.images{
    float: left;
    width: 400px;
    height: 300px;
}
.content{
    float: right;
    background-color: aliceblue;
    width: 540px;
    height: 450px;
}
a #register{
    text-decoration: none;
}
.breadcrumb{
    margin-top: 15px;
    margin-left: 150px;
    font-size: 20px;
}
.breadcrumb a{
    text-decoration: none;
    color: darkgray;
}
footer{
    margin-bottom: -100px;
    background-color: darkgray;
    height: 380px;
    background-image:url("../sale/footer.jpg");
}
.foot{
    background-image:url("../sale/footer.jpg");
}
.logofooter{
    margin-top: 30px;
    margin-left: 120px;
}
.footer-section{
    color: #CCCCCC;
}
footer a{
    text-decoration: none;
    color: #CCCCCC;
}
footer a:hover{
    color: white;
}
.footer-widget, .newslatter-item h5 {
    color: white;
}
.footer-left{
    margin-top: 20px;
}
.logo{
    margin-left: 30px;
    font-family: "Book Antiqua";
    font-size: 40px;
    width : 600px;
}
.containera{
    font-family: Candara;
    font-size: 30px;
    color: aliceblue;
}
.col .a{
    margin-top: 20px;
}
.collapse{
    margin-left: 15px;
}
.btn{
    margin-right: 10px;
}
.hello{
    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 940px;
    height: 200px;
    border-bottom: 1px solid #CCCCCC;
    text-align: center;
    display: inline-block;
}
.nav-item{
    margin-right: 15px;
}